@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #8b0c1b #222222 !important;
}

body {
    margin: 0;
    font-family: 'Lato', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    color: #ffffff !important;
    background-image: linear-gradient(
        to right,
        #222222 0%,
        #f57988 50%,
        #222222 100%
    ) !important;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}

header {
    margin: 10rem auto 0rem auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 3rem !important;
}

main {
    margin: 10rem auto 20rem auto;
    color: #ffffff;
    text-align: center;
}

/* #section-cards{
display: flex;
justify-content: center;
align-items: center;
gap: 11rem;
flex-wrap: wrap;
}
 */

@media only screen and (max-width: 1024px) {
    #section-cards {
        gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    #section-cards {
        gap: 5rem;
    }
}

@media only screen and (max-width: 430px) {
    #section-cards {
        flex-direction: column !important;
        gap: 4rem !important;
    }

    header {
        margin: 0rem auto 0rem auto;
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
